# Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / Empaquetado
eggs/
.eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
.venv/
venv/
ENV/
env/
active/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
